body {
  text-align: center;
  background: #000000;
  font-family: sans-serif;
  font-weight: 100;
}
 
.countdown-title {
  color: #ff0;
  font-weight: 100;
  font-size: 120px;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #000000;
  margin: 40px 0px 20px;
}
 
.countdown {
  font-family: sans-serif;
  color: #000;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 60px;
}
 
.countdown-number {
  padding: 10px;
  border-radius: 3px;
  background: #ffff00;
  display: inline-block;
}
 
.countdown-time {
  padding: 15px;
  border-radius: 3px;
  background: #eeee6a;
  display: inline-block;
}
 
.countdown-text {
  display: block;
  padding-top: 5px;
  font-size: 16px;
}